.user-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    float: right;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
  }

  img {
    width : 40%;
    height: 30%;
  }