
<html>
    <head>
    <title>Consultin</title>
    </head>
    <body>
        <form action="/login" method="post">
            UserID:<input type="text" name="UserID"><br>
            Discoveracardbalance:<input type="text" name="Discoveracardbalance"><br>
            DebitCardbalance:<input type="text" name="DebitCardbalance"><br>
            Stockmarket_buyingpower:<input type="text" name="stockmarket_buyingpower"><br>
            Rent:<input type="text" name="Rent"><br>
            Utilities:<input type="text" name="Utilities"><br>
            Phonebill:<input type="text" name="Phonebill"><br>
            Carinsurance:<input type="text" name="Carinsurance"><br>
            WalmartGrocery:<input type="text" name="WalmartGrocery"><br>
            <input type="submit" value="Login"></input>
        </form>
    </body>
</html>
