img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
    max-width: 828px;
}

.float-container {
    padding: 20px;
}

.float-child1 {
    /* float: left; */
    width: 100%;
    height: auto;
    width: auto\9;
}


.float-child2{
    float: left;
    /* max-width: 10%;
    height: auto;
    width: auto\9; */
}
